
:root {
    --tab1: #3c4b89;
    --tab2: #f76c6c;
    --tab3: #A8D0E6;
    --tab4: rgb(240, 205, 6);
    --tab5: rgb(89, 86, 86);
    --tab6:mediumpurple; 
     
  }

body{
    margin:0%;
}
  .main-content{
      
      flex: 1;
      text-align: center;
      background-color: honeydew;
      /* padding: 2%; */
      /* background-repeat: no-repeat; */
  /* background-position: center;
  background-size:cover;
        background-image: url("../Assets/istockphoto-489301822-612x612.jpeg"); */
    font: menu;
     
  }
 
  header{
    /* background: var(--tab1); */
    color: black;
      padding-top: 6%;
      padding-bottom: 1% solid #000;
      margin-bottom: 5%;
      /* border-bottom: solid #000; */
      /* font-size: 200%;
      margin-top: 5%;
      margin-bottom: 1%;
      margin: 3%; */
  }
  
  .main-content h2{
    margin: 0%;
    font: menu;
    font-weight: bold;
    font-size: x-large;
    /* background-color: darkviolet; */
    
}


  
 
  .main-content h4{
      margin: 3%;
      font-weight: normal;
  }
  .main-content p{
      padding: 4%;
  }
  .sidebar{
      z-index: 1;
      flex: 2;
      font: menu;
      color: mintcream;
      /* background-image: linear-gradient(
          90deg, 
      rgb(104, 161, 210) 50%, rgb(250, 250, 250) 100%); */
      
     
  }
  .sidebar h2{
    text-align: center;
  }
  .tab1
  {
    background: var(--tab1);
      /* background-color: darkslateblue; */
      margin:0%;
  }
  .tab2
  {
    background: var(--tab2);
      margin:0%;
  }
  .tab3
  {
    background: var(--tab3);
      margin:0%;
  }
  .tab4
  {
    background: var(--tab4);
      margin:0%;
  }
  .tab5
  {
    background: var(--tab5);
      margin:0%;
  }
  .tab6
  {
    background: var(--tab6);
      margin:0%;
  }
  
 h3{
     margin: 0%;
     padding:20px;
 }
 .sidebar h2{
     margin-top: 0%;
     margin-bottom: 1%;
     padding-top: .1%;
 }
 .myimg{
    width:30%;
    height:30%;
    
    object-fit: cover;
    border-radius:50%;
    
  }
 a {
     text-decoration: none;
     color: aliceblue;
 }
 p {
    color: black;
    /* background: var(--tab1); */
    border-radius: 25px;
    font:medium;
    font-weight: bold;
    margin: 5% 3% 10% 3%;
    
 }
 
  @media screen and (min-width: 600px){ /* for desktop instructions specifically*/
    .flex-container{
      
        display: flex;
        height: 100vh;
    }
      
      .sidebar{
        border-left: 5px solid black;
        background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
        background-image: url("../Assets/code-refactoring.jpeg");
       /* animation: slide 10s infinite; */
        
      }
      /* @keyframes slide{
           0%{background-image: url(../Assets/code-refactoring.jpeg);}
           33%{background-image: url(../Assets/IMG_8859.JPG);}
            67%{background-image: url(../Assets/istockphoto-489301822-612x612.jpeg);}
        } */
          
      }
      .sidebar h2{
        margin-top: 15%;
        margin-bottom: 1%;
    }
  
    .myimg{
        width:50%;
        height:50%;
        
        object-fit: cover;
        border-radius:50%;
        
      }
      .grow { 
        transition: all .2s ease-in-out; 
        }
        
        .grow:hover { 
        z-index: 2;
        transform: scale(1.02);
        }
        .grow2 { 
            transition: all .2s ease-in-out; 
            }
            
            .grow2:hover { 
            z-index: 2;
            transform: scale(1.05);
            }
      

     
  
  @media screen and (max-width: 600px){
    .main-content{
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
              background-image: url("../Assets/code-refactoring.jpeg");
              padding-bottom: 3%;

    }
    p{
        color: black;
        background-color: floralwhite;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        border: 4px;
        margin-bottom: 0px;
    }
    .tab1
    {
        text-align: center;
        background: var(--tab1);
        margin:0%;
    }
    .tab2
    {text-align: center;
        background: var(--tab2);
        margin:0%;
    }
    .tab3
    {
        text-align: center;
        background: var(--tab3);
        margin:0%;
    }
    .tab4
    {
        text-align: center;
        background: var(--tab4);
        margin:0%;
    }
    .tab5
  {
    text-align: center;
    background: var(--tab5);
      margin:0%;
  }
  .tab6
  {
    text-align: center;
    background: var(--tab6);
      margin:0%;
  }
  .sidebar h2 {
      margin-top: 0%;
      background-color: black;
  }
  .sidebar{
      background-color: black;
  }
  header{
    background: var(--tab1);
    color:blanchedalmond;
      padding-top: 6%;
      padding-bottom: 1% solid white;
      margin-bottom: 5%;
      border-bottom: solid white;
      /* font-size: 200%;
      margin-top: 5%;
      margin-bottom: 1%;
      margin: 3%; */
  }
  }

 